<form action="/user/change_password" method="POST" onsubmit="submitForm(this);return false">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="password" placeholder="Password" name="old_password">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="New password" name="new_password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="New_Password_again" name="new_password_verify">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          确认修改
        </button>
      </p>
    </div>
  </form>
  
  
  <script>
    async function submitForm(formElem) {
  
        var response = await fetch(formElem.action, {
            method: formElem.method,
            body: new FormData(formElem),
        });
  
        if (response.ok) {
            var user = await response.json();
            alert(user)
            if (user == "密码修改成功") location.assign("/user/self_info");

        } else if (response.status == 401) {
            var msg = await response.json();
            alert(msg);
        } else {
            alert(response.statusText);
        }
    };
  </script>