<%= user.user_id %>

    <form action="/user/change_password" method="GET">
        <div class="field">
            <p class="control">
                <button class="button is-success"> 
                    修改密码
                </button>
            </p>
        </div>
    </form>
    