<!--index.ejs-->
<table class="table is-bordered is-striped is-hoverable is-fullwidth">

    <% persons.forEach( function(person) { %>

        <tr>
            <td>
                <%= person.username %>
            </td>
            <td>
                <%= person.password %>
            </td>
        </tr>

        <% }); %>

</table>