<form action="/person/delete/<%= person.id %>" method="POST">
    <%= person.name %>,
        <%= person.age %>
            <button type="submit" class="button is-danger"> Give you a chance to
        Delete
        Me !!!</button>

</form>