<!--create.ejs-->
<form action="/bankcard/create" method="post" onsubmit="submitForm(this);return false">

    <div class="columns">
        <div class="column is-half">

            <div class="columns">
                <div class="column is-one-quarter">
                    <!-- 创建属性3 -->
                    <div class="field">
                        <label class="label">所属地区</label>
                        <div class="control">
                            <!-- <input class="input" type="text" name="region" required> -->
                            <div class="select">
                                <select onchange="regionSelected(this.value)" name="region" required>
                                    <option value="深圳">深圳</option>
                                    <option value="广州">广州</option>
                                    <option value="东莞">东莞</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <!-- 创建属性7 -->
                    <div class="field">
                        <label class="label">余额</label>
                        <div class="control">
                            <input class="input" type="text" name="balances_show" id="balances_show">
                            <input class="input" type="hidden" name="balances" id="balances">
                        </div>
                    </div>
                </div>
                <div class="column">

                    <!-- 创建属性8 -->
                    <div class="field">
                        <label class="label">卡有效期</label>
                        <div class="control">
                            <input class="input" type="date" name="expiry_date" required>
                        </div>
                    </div>
                </div>

                <div class="column">

                </div>
            </div>

            <!-- 提交表格 -->
            <div class="field">
                <div class="control">
                    <!-- <button class="button is-link" type="submit">Submit</button> -->
                    <button class="button is-link">Submit</button>
                </div>
            </div>

        </div>
    </div>

    <div class="columns">
    </div>

</form>


<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script type="text/javascript">

$("#balances_show").bind('input propertychange',function () {
var a = document.querySelector("#balances_show").value
// console.log(a)
a = String(a)
// console.log(a)
// 如果想去掉所以的','，最简单的办法就是正则表达式了。下面是简单的例子。
a = a.replace(/,/g,'');
a = a.replace(/￥/g,'');
// a = a.replace(/:/g,'');
// a = parseFloat(a).toFixed(2)
a = Number(a)
// console.log(a)
document.querySelector("#balances").value = a;
if (a==0)  document.querySelector("#balances").value = "";
// console.log(a)
document.querySelector("#balances_show").value = '￥ '+ String(parseFloat(a).toLocaleString());


});


</script> 


<script>
    async function submitForm(formElem) {
        var r = confirm("Confirm create?");
        if (r) {

            var response = await fetch("/bankcard/create", {
                method: "POST",
                body: new FormData(formElem),
            });
            if (response.ok) {
                var html = await response.json();
                alert("创建成功!  "+'卡号码为 ：' + String(html))
                location.assign("/list");
            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
            } else {
                alert(response.statusText);
            }
            console.log("finally")
        } else {
            alert("cancelled");
        }
    };
</script>